@model BELibrary.Entity.Vacxin
@{
    ViewBag.Title = "Sửa Vacxin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using System.Web.UI.WebControls
<style>
    .ck-editor__editable_inline {
        min-height: 500px;
    }
</style>

<div class="panel">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, "Tên Vacxin", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Quantity, "Số lượng còn", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
@section Scripts {

    <script src="~/Areas/Admin/Content/plugins/ckeditor-new/ckeditor.js"></script>

    <script>
        let editor;
        $(document).ready(function () {
            ClassicEditor
                .create(document.querySelector('#Description'), {
                    toolbar: {
                        items: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'link',
                            'bulletedList',
                            'numberedList',
                            '|',
                            'outdent',
                            'indent',
                            '|',
                            'imageUpload',
                            'blockQuote',
                            'insertTable',
                            'mediaEmbed',
                            'undo',
                            'redo',
                            'fontFamily',
                            'fontColor',
                            'alignment',
                            'highlight',
                            'horizontalLine',
                            'imageInsert'
                        ]
                    },
                    language: 'vi',
                    image: {
                        toolbar: [
                            'imageTextAlternative',
                            'imageStyle:inline',
                            'imageStyle:block',
                            'imageStyle:side'
                        ]
                    },
                    table: {
                        contentToolbar: [
                            'tableColumn',
                            'tableRow',
                            'mergeTableCells',
                            'tableCellProperties',
                            'tableProperties'
                        ]
                    },
                    licenseKey: '',
                    simpleUpload: {
                        // The URL that the images are uploaded to.
                        uploadUrl: '/admin/regimen/UploadFile'

                        // Enable the XMLHttpRequest.withCredentials property.
                        // withCredentials: true,

                        // Headers sent along with the XMLHttpRequest to the upload server.
                        //headers: {

                        //}
                    }

                })
                .then(e => {
                    editor = e;

                })
                .catch(error => {
                    console.error('Oops, something went wrong!');
                    console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                    console.warn('Build id: qfu28fkrtpm7-x3s4huyp9ut1');
                    console.error(error);
                });
        });
    </script>
}
